body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  height: 34px;
  text-align: center;
  width: 34px;
}

.square button,
.square button:focus {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  background: #fff;
  width: 34px;
  height: 34px;
  color: black;
  border: none;
}
.square button[disabled]{
  background: #ddd;
}

.square button:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.game-info {
  margin-left: 20px;
}

#winnertext > p {
  font-weight: bold;
}

h1, .winner {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 30s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(-360deg);
  }
}
