body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  border: 1px solid #999;
  width: 10vw;
  height: 10vw;
  vertical-align: center;
}

.square > div {
  width: 8vw;
  height: 8vw;
  position: absolute;
  text-align: center;
}

.square > div {
  margin-top: 2vw;
}

.square p,
.winnertext-wrapper p {
  font-weight: bold;
}

.restart {
  margin-top: 20px;
}

h1,
.winnertext-wrapper p {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 30s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(-360deg);
  }
}

